@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("./reset.css");
body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}