:root {
    --primary-font:'Nunito', sans-serif;
    --black: #222222;
    --gray-dark: #444444;
    --gray: #b3b3b3;
    --white: #fff;
    --blue-darkest: #4D57DD;
    --pink: #EC7070;
    --blue: #ECF5FD;
    --light-blue: #f1f8ff;
    --blue-dark: #1E82DD;
    --green: #CFF1E0;
    --green-dark: #0C7C42;
    --orange: #FFF1E7;
    --orange-dark: #F0633C;
    --red-dark: #A03538;
    --red: #FFEBF1;
    
}